<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Thèmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Thèmes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let category of categories" (click)="goToQuestions(category.id)">
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      {{ category.name }}
    </ion-item>    
  </ion-list>

  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>
